@import "/css/font.css";
@import "/css/swiper.css";
@import "/css/flatpickr.min.css";
@import "/css/tom-select.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gilroy', serif;
    @apply select-none;
}

body.shake {
    animation: shake 0.2s;
    animation-iteration-count: 1;
}

strong {
    @apply text-black;
}

input, select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
    @apply outline-none;
}

input::-ms-expand,
select::-ms-expand {
    display: none;
}

#heroSection {
    height: 250px;
}

@media (max-width: 768px) {
    #heroSection {
        height: 180px;
    }
}

#regionsSection .region-card:hover {
    top: -5px !important;
}

#toursSection .left-side {
    min-width: 300px;
    max-width: 300px;
}

.filters .filter-item,
.filters .type-items {
    @apply inline px-3 py-1 text-sm border-2 border-gray-600 rounded-full cursor-pointer;
}

.filters .filter-item.active,
.filters .type-items.active {
    @apply text-white border-blue bg-blue;
}

.filters .filter-item.active span {
    @apply text-white;
}

.select-text {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

.show-more-tours-button,
.update-tour-button,
.update-status-button,
.save-personal-info-button,
.save-book-button,
.save-partner-button,
.save-vehicle-button,
.save-tour-button {
    @apply flex justify-center py-2 text-sm text-white font-medium rounded-md cursor-pointer;
}

.show-more-tours-button.loading,
.show-more-tours-button.disabled,
.update-status-button.loading,
.update-status-button.disabled,
.save-personal-info-button.loading,
.save-personal-info-button.disabled,
.save-book-button.loading,
.save-book-button.disabled,
.login-button.loading,
.login-button.disabled,
.create-account-button.loading,
.create-account-button.disabled,
.update-tour-button.loading,
.update-tour-button.disabled,
.save-tour-button.loading,
.save-tour-button.disabled,
.save-vehicle-button.disabled,
.save-vehicle-button.loading,
.save-partner-button.loading,
.make-partner-payment-button.loading,
.update-profit-percent-button.loading,
.send-vehicle-order-button.loading {
    @apply cursor-not-allowed opacity-60;
}

.show-more-tours-button.loading .animate-spin,
.update-status-button.loading .animate-spin,
.save-personal-info-button.loading .animate-spin,
.save-book-button.loading .animate-spin,
.create-account-button.loading .animate-spin,
.login-button.loading .animate-spin,
.update-tour-button.loading .animate-spin,
.save-partner-button.loading .animate-spin,
.save-tour-button.loading .animate-spin,
.save-vehicle-button.loading .animate-spin,
.make-partner-payment-button.loading .animate-spin,
.update-profit-percent-button.loading .animate-spin,
.send-vehicle-order-button.loading .animate-spin {
    @apply block;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#createTourForm .image-item,
#createVehicleForm .image-item,
#editTourForm .image-item,
#editVehicleForm .image-item {
    @apply flex justify-center relative px-10 py-5 border-2 border-dashed border-black rounded-md cursor-pointer;
}

#createTourForm .image-item .remove-image-button,
#createVehicleForm .image-item .remove-image-button,
#editTourForm .image-item .remove-image-button,
#editVehicleForm .image-item .remove-image-button {
    @apply hidden min-w-4 min-h-4 w-4 h-4 absolute -top-3 -right-1 text-red-500;
}

#createTourForm .image-item.filled,
#editTourForm .image-item.filled {
    @apply border-none bg-cover bg-center bg-no-repeat;
}

#createVehicleForm .image-item.filled,
#editVehicleForm .image-item.filled {
    @apply border-none bg-contain bg-center bg-no-repeat;
}

#createTourForm .image-item.filled .empty,
#createVehicleForm .image-item.filled .empty,
#editTourForm .image-item.filled .empty,
#editVehicleForm .image-item.filled .empty {
    @apply opacity-0;
}

#createTourForm .image-item.filled .remove-image-button,
#createVehicleForm .image-item.filled .remove-image-button,
#editTourForm .image-item.filled .remove-image-button,
#editVehicleForm .image-item.filled .remove-image-button {
    @apply block;
}

/* Tom Select */

.ts-input {
    @apply w-full px-4 py-3 text-sm text-gray-400 placeholder-gray-400 bg-white shadow rounded-md cursor-pointer;
}

.ts-control.multi .ts-input > .comma-separate::after {
    content: ',';
}

.ts-control.multi .ts-input > .comma-separate:last-child::after {
    content: none !important;
}

.ts-dropdown {
    @apply rounded-md shadow overflow-hidden;
}

.book-tour-button {
    @apply flex justify-center sm:self-start lg:ml-8 px-8 py-4 text-white font-semibold bg-blue rounded-md cursor-pointer;
}

.book-tour-button.disabled {
    @apply cursor-not-allowed opacity-60;
}
